.body {
    font-size: 16px;
    background-color: honeydew;
}

.wrapper {
    width: 80vw;
    height: auto;
    margin: 0 auto;
}

.main-title {
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: column;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.7em;
    background-color: #eee;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
  }
  
  .accordion-title:hover {
    background-color: #ddd;
  }
  
  .accordion-content {
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: height 0.5s ease-in-out;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .accordion-title + .accordion-content {   /*Открываем по клику*/
    padding: 0.7em;
    height: 20em;
    transition: padding 0.1s ease-in-out;
    transition: height 0.5s ease-in-out;
  }

  input[type="checkbox"]:checked + .accordion-title .accordion-icon__img {
    transition: 0.5s;
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:not(:checked) + .accordion-title .accordion-icon__img {
    transition: 0.5s;
    transform: rotate(0deg);
  }

  .accordion input[type="checkbox"]:checked ~ .accordion-title {
    color: black;
  }
  
  input[type="checkbox"]:not(:checked) ~ .accordion-title {
    color: blue;
  }

  .accordion-img {
    width: 30em;
    height: 100%;
  }

.accordion-icon__img {
  display: none;
  text-align: end;
  width: 0.7em;
}

.accordion:hover .accordion-icon__img {
  display: block;
}

.accordion:hover input[type="checkbox"]:not(:checked) + .accordion-title {
  color: black; /* замените на нужный вам цвет */
}

@media (min-width: 789px) and (max-width: 1888px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .container {
    width: 60%;
  }
}

@media (hover: hover) and (pointer: fine)  {
  .accordion-title:hover + .accordion-content  {  /*При наведении открываем*/
    padding: 0.7em;
    height: 20em;
    transition: padding 0.1s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
}