.body {
    font-size: 16px;
    background-color: honeydew;
}

.wrapper {
    width: 80vw;
    height: auto;
    margin: 0 auto;
}

.main-title {
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: column;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.7em;
    background-color: #eee;
    font-weight: bold;
    font-size: 1.2em;
    /* border-bottom: 1px solid grey; */
    transition: background-color 0.3s ease-in-out;
  }
  
  .accordion-title:hover {
    background-color: #ddd;
  }
  
  .accordion-content {
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: height 0.5s ease-in-out;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .accordion-title + .accordion-content {
    height: 20em;
    padding: 0.7em;
  }

  input[type="checkbox"]:checked + .accordion-title .accordion-icon__img {
    transition: 0.5s;
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:not(:checked) + .accordion-title .accordion-icon__img {
    transition: 0.5s;
    transform: rotate(0deg);
  }

  .accordion-img {
    width: 30em;
    height: 100%;
  }

.accordion-icon__img {
    text-align: end;
    width: 0.8em;
}


